<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>stash - {{ stash_id }}</title>

    <link rel="stylesheet" href="{{ url_for('styles', path='stash.min.css') }}">
</head>
<body>
    <div id="content">
        {% if not protected %}{{ content }}{% endif %}
    </div>
    {% if protected %}
    <input type="password" name="password" id="password">
    <input id="submit" type="submit" value="Submit">
    {% endif %}
    <script src="{{ url_for('scripts', path='stash.min.js') }}"></script>
</body>
</html>